/*
	These Cascade Style Sheets were created by Jiří Kozlovský (93).
		Please do not copy. If you would like to have similar CSS, contact me at mail@jkozlovsky.cz.
	 */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b&subset=latin-ext);

html {
	min-width: 1040px;
} 
body {
	color: #444;
	margin: 1em auto 4em auto;
	font-family: "PT Serif", serif;
	position: relative;
	width: 960px;
	background: #eee;
}

header, footer {
	color: #777;
	font-size: small;
	font-family: "PT Sans", sans-serif;
}

footer {
	margin-top: 8em;
}

top {
	display: block;
	float:right;
	height:32px;
	width:32px;
	margin: 1em 5em 0 auto;
}

.top {
	stroke: #333;
	stroke-width: 3px;
	stroke-linecap: round;
	fill: none;
}

aside {
	right: 0;
	position: absolute;
	font-size: small;
	width: 200px;	
}

signature {
	display: block;
	float:right;
	font-size: small;
	margin: 3em;
}


/* 
	H1 - H4 
	*/
h1, h2, h3, h4 {
	color: #000;
	font-family: "PT Sans", sans-serif;
}

h1, h2 {
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .2em;
}

h2 {
	margin-top: 2em;
}

h2 button {
    font-size:inherit;
    width: 8em;
}


/* 
	Anchor text 
	*/
a {
	color: steelblue;
}

a:not(:hover) {
	text-decoration: none;
}

/*
	Paragraph
	 */
p {
	line-height: 1.5em;
	width: 720px;
	text-indent: 2.7em;
}

hr {
	width: 720px;
	float: left;
}

.niceDiv {
	text-align: center;
	padding: 15px;
	border: 1px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 6px #ccc;
	background: #e8e8e8;
}

.formula {
    border:.1em solid #ccc;
    border-radius:.7em;
    color:#c60;
    background:#e0e0e0;
    padding:.1em .5em;
    white-space:nowrap;
}

.list p{
    text-indent:-1.7em;
    padding-left: 3em;
}

.list p::before {
    border-radius: 50%;
	width: .7em;
	height: .7em;
	background: #444;
	display: inline-block;
	content: no-open-quote;
	margin-right: 1em;
}
