* {margin:0}
body {background:#eee;overflow:hidden}
span {font-weight:bold;font-size:3em;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
button {font-weight:normal;font-size:2em;border-radius:.8em;padding:.3em;margin:.3em .5em}
svg {position: absolute}
circle {shape-rendering:optimizeSpeed}
path {stoke:blue;stroke-width:3;fill=none}
#score {position:absolute;top:0;right:0;margin-right:.5em;display:none}
#level {position:absolute;top:0;display:none}
#version {display: inline;position: absolute;right:.5em;top:4em;font-size:1em;color: rgba(50, 150, 50, 1)}
#top {height: 3.8em;background:#e7e7e7;position:absolute;top:-4.4em;margin-left:0}
#lifes {display:none}
#endScreen {position:absolute;left:0;top:1em;color:#333}
#endScreen div {position:relative}
div#endScreen span {font-size: 2em}
#progressBar {background:linear-gradient(to right, #008000 0%, #008000 0%, rgba(255, 255, 0, 0) 3.33333%) repeat scroll 0% 0% transparent;position:absolute;font-size:2em;border-radius:.8em;border:.08em solid #777}
.flames {background: url(/img/flame3.gif);background-size: 100% 1em;background-repeat: repeat-x}
.lifes {margin-left:.5em}
.countdown {font-size:8em;position:absolute;color:red}
.bonus {position:absolute;margin-left:-3.5em;opacity:0}
.green {color:green}
.red {color:red}
.restart {font-weight:bold}
