* {margin:0}
body {
	background: #eee;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
span {font-weight:bold;font-size:3em;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
button {font-weight:normal;font-size:2em;border-radius:.8em;padding:.3em;margin:.3em .5em}
svg {position: absolute}
circle {shape-rendering:optimizeSpeed}
path {stroke-width:3;fill:none}
#score {position:absolute;top:0;right:0;margin-right:.5em;display:inline}
#level {position:absolute;top:0;display:inline}
#version {display: inline;position: absolute;right:.5em;top:4em;font-size:1em;color: rgba(50, 150, 50, 1)}
#lifes {display:inline}
#endScreen {position:absolute;left:0;top:1em;color:#333}
#endScreen div {position:relative}
div#endScreen span {font-size: 2em}
.flames {background: url(/img/flame3.gif);background-size: 100% 1em;background-repeat: repeat-x}
.lifes {margin-left:.5em}
.countdown {font-size:8em;position:absolute;color:red}
.bonus {position:absolute;margin-left:-3.5em;opacity:0}
.green {color:green}
.red {color:red}
.restart {font-weight:bold}


hud {
	width:100%;
	height: 5%;
	background:#e7e7e7;
	position:absolute;

/*	top:-4.4em;*/
	top: 0px;

	margin-left:0
}

playground {
	position: absolute;
	top: 5%;
	height: 92%;
	width: 100%;
}

progress-bar {
	left: 0px;
	position: absolute;
	width: 100%;
	height: 3%;
	bottom: 0px;
}
progress-bar table {
	height: 100%;
	width: 90%;
	left: 5%;
	position: absolute;
}
